@import 'root';
*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
a{
  text-decoration: none;
  color: #fff;
}
ol, ul{
  list-style: none;
}
h2{
  font-size: 36px;
}
h4{
  font-size: 24px;
}
p{
  font-size: 15px;
  color: #727171;
  font-weight: 400;
  line-height: 25px;
  margin: 0 0 15px 0;
}
.spad{
  padding: 100px 0;
}
.set-bg{
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
@media only screen and (min-width: 1200px) {
  .MuiContainer-root {
    max-width: 1170px !important;
  }
}