#root .client{
  &-title{
    margin-bottom: 45px;
  }
  &__item{
    border: 1px solid #ebebeb;
    padding: 0 15px;
    margin-bottom: 30px;
    height: 110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}