#root .product-card{
  padding: 15px;
  &__title{
    color: #353535;
    font-weight: 700;
    text-decoration: none;
    height: 60px;
    font-size: 18px;
  }
  ul.product-card__info{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    >li{
      position: relative;
      font-size: 15px;
      color: var(--gray-li);
      font-weight: 700;
      margin-right: 40px;
      span{
        color: #323232;
      }
      &::after{
        content: ' ';
        position: absolute;
        height: 15px;
        width: 2px;
        background-color: var(--gray-li);
        top: 0;
        right: -20px;
      }
      &:last-child{
        &::after{
          content: ' ';
          position: absolute;
          height: 0;
          width: 0;
          background-color: transparent;
          top: 0;
          right: 0;
        }
      }
    }
  }
  &__price{
    border-top: 1px solid #ebebeb;
    text-align: center;
    padding: 0;
    &__option{
      font-size: 15px;
      color: #ffffff;
      font-weight: 700;
      padding: 12px 0;
      // width: 100%;
      flex: 0 0 40%;
      border-radius: 2px 0 0 2px;
      text-transform: capitalize;
      background-color: #4971FF;
      &.sale{
        background-color: #db2d2e;
      }
    }

  }
}