.home .choose-us{
  background: #f7f7f7;
  position: relative;
  padding-bottom: 85px;
  &__text{
    text-transform: capitalize;
    &__title{
      margin-bottom: 10px;
      text-align: left;
      h2{
        color: #353535;
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 16px;
      }
      p{
        font-size: 17px;
        color: #727171;
        font-weight: 400;
        line-height: 25px;
        margin: 0 0 15px 0;
        text-transform: none;
        &::first-letter{
          text-transform: uppercase;
        }
      }
    }
    &__link{
      display: inline-block;
      font-size: 15px;
      padding: 12px 24px;
      color: #ffffff;
      font-weight: 700;
      background: #db2d2e;
      border-radius: 2px;
    }
    &__reasons{
      margin-bottom: 28px;
      li{
        font-size: 15px;
        color: #727171;
        line-height: 36px;
        svg{
          margin-right: 4px;
        }
      }
    }
  }
  &__video{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
    transition: all 0.5s linear;
    padding: 0;
  }
  &.active{
    .choose-us{
      &__video{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        width: 100%;
      }
    }
  }
}