.select-form{
  width: inherit;
  & &__control{
    text-transform: capitalize;
    width: 100%;
    margin-bottom: 10px;
    background-color: #fff;
  }
  & &__title{
    color: #323232;
    margin-bottom: 5px;
  }
  & &__option{
    font-weight: 400;
    line-height: 40px;
    min-height: 40px;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    color: #727171;

    &.disable{
      font-weight: 700;
    }
  }
  & &__range{
    margin-bottom: 30px;
  }
  & &__submit{
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    border: none;
    border-radius: 2px;
    padding: 15px 35px 12px 38px;
    text-transform: capitalize;
    background-color: #db2d2e;
    &:hover{
      background-color: #db2d2e;
    }
  }
  & .select-group{
    gap: 20px;
    margin-bottom: 20px;
    padding: 0;
    &__control{
      width: 100%;
      background-color: #fff;
    }
    &__title{
      color: #323232;
    }
  }
}